@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/* header{ */


nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    
}
 li{
    margin-left: 20px;
    list-style: none;
}
.first-title {
    text-decoration: none;
    color:  #3A3A3A;
    font-weight:500;
    font-size:20px;
}
.icon .fa-solid{
    /* color: rgb(18, 14, 14); */
    /* font-weight:; */
    font-size:25px;
    color:   #f4077e;;
    /* background-color: rgb(21, 17, 17); */
}
li a {
    text-decoration: none;
    color:  #3A3A3A;
    font-weight:500;
    font-size:16px;
    /* padding:0 10px; */
}

/* -------------------------------------
--------------------------
start influencer banner -------------------------------- */
.influencer{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:50px;
    height:100vh;
}
.incluencer-left{
    width: 582px;
    height: 270px;
    padding: 10px 20px;
}
 .influencer-right {
    width: 440px;
    height: 414px;
}
.influencer-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
#influencer-text {
    margin-top:16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    padding:5px 10px;
}
.influencer-button{
    margin-top:16px;
    width: 196px;
    height: 44px;
    left: 120px;
    top: 511px;
    background: #E02C6D;
    border: 1px solid #fff;
    border-radius: 41px;
}
.influencer-button p{
    color: #fff;
    font-weight: 500;
    line-height: 5px;
    font-size:19px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 5px;
}
.influencer-button span{
    margin-left: 16px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

/* --------------------------another ecomerce website picture site---------- */
.ecomerce-photo{
    display: flex;
    margin:20px 0;
    justify-content: space-evenly;
}
.top{
    margin-top:100px;
}


/* --------------popular collection site css ------------------- */
.product-title{
    font-weight: 600;
    font-size: 28px;
    text-align:center;
    padding: 0 30px;
   margin-top: 100px ;
   margin-bottom :30px;
   color: #3A3A3A;
}
.product-title h2{
    display: block;
    text-align:center;
    
}
.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    grid-row-gap: 40px;
}
.product{
    width: 329px;
    height: 477px;
    box-shadow: 0 20px 27px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.product img{
    width: 310px;
    height:230px;
    margin:10px;
    border-radius:4px;
    border: 2px solid #fff;
    
}
.product-detail{
    padding: 20px;

}
.product-price{
    font-weight: 400;
    font-size: 24px;
}
.products-name{
    font-weight: 500;
    font-size: 28px;
}
.fa-star{
    font-size:10px;
}
.fa-star.empty{
    color:#AEAEAE;
}
.fa-star.filled{
    color: #ffC014;
}
.product-info
{
    margin-left: 20px;
    font-size: 12px;
}
.product-text{
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    color: #787885;
}
.bottom{
    
    margin-left: 1000px;
    margin-top: 80px;
}
.bottom p   {
    word-wrap: none;
    font-size: 16px;
    font-weight:700;
    color:  #E02C6D;
}
.bottom p span  {
    word-wrap: none;
    font-size: 16px;
    font-weight:700;
    color:  #E02C6D;
}
.bottom  span{
    margin-left: 10px;
    font-size: 26px;
    font-weight:700;
    color: white;
}

/* bottom banner site css */
.bottom-banner{
    display:flex;
    margin-top:70px;
    justify-content:space-evenly;
    /* align-items */
}
.banner-right{
width: 610px;
height: 224px;
padding:0 20px;
}
.banner-left img{
    width: 350px;
    height: 230px;
    border-radius:8px;
    margin-right: 100px;
    object-fit: cover;
}
.banner-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}
#banner-text{
    margin-top:27px;
}
.banner-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-top:16px;
    margin-right: 80px;
    color: #471c2c;
}


/* footer site css style part */
footer{
    width: 99.20%;
    height: 250px;
    background: #031527;
    margin: 0 auto;
    margin-top:100px;
    margin-bottom:10px;
    /* margin: 10px; */
}
.footer-site{
    position: relative;
    
}
#footer{
    /* text-align: center; */
    margin-top :40px;
    position: absolute;
    max-width: 262px;
    max-height: 139px;
    left: 500px;
}
h2{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    margin-bottom:10px;
}
p,.span{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
    color: #fff;
    text-align:center;
    font-weight: 300;
    margin-top:10px;
}
.social-font{
    display:flex;
    margin-top: 15px;
    justify-content:space-evenly;
    align-items:center;
}
.fa-brands{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-align:center;

}
.fa-solid{
    text-align: center;
    color: #fff;
    font-size: 22px;
}


/* to make my website responsive i will use media quary */
@media only screen and   (max-width: 900px) {
        .influencer{
            display: flex;
            flex-direction: column;
            padding:30px;
            margin-left:50px ;
            position:relative;
        }
        .incluencer-left{
            order: 2;
            width: 404px;
            height: 222px;
        }
        .influencer-right img{
            position: absolute;
            width: 370px;
            object-fit:cover;
            height: 340px;
        }
        
        .influencer-title h1{
            font-weight: 450;
            font-size: 14px;
            line-height: 20px;
            color: #3A3A3A;
        }
        .influencer-text{
            padding: 20px;
        }
        .influencer-button{
            margin-left: 70px;
        }
        hr{
            display: none;
        }
        .ecomerce-photo{
            display: flex;
            flex-wrap: wrap;
            /* padding: 14px; */
            gap: 5px;
            /* justify-content: space-between; */
          /* margin-left:25%; */
          margin: 100px 20px;
        }
        .products{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }

        .bottom{
            margin-left: 200px;
            margin-top: 40px;
        }
        .bottom-banner{
            display:flex;
            margin-top:70px;
          flex-direction: column;
          margin-left:50px ;
        }
        .banner-right{
            width: 310px;
            height: 304px;
            padding:5px;
           margin-bottom:30px;
           /* padding:30px; */
           
            }
            .banner-left img{
                width: 350px;
                height: 230px;
                border-radius:8px;
                margin-right: 100px;
                object-fit: cover;
                /* order: 2; */
            }
            .banner-left{
                order: 1;
            }
            footer{
                max-width: 99.20%;
                max-height: 250px;
                background: #031527;
                margin: 0 auto;
                margin-top:100px;
                margin-bottom:10px;
                /* margin: 10px; */
            }
            .footer-site{
                position: relative;
                
            }
            #footer{
                /* text-align: center; */
                /* margin-top :40px; */
                position: absolute;
                max-width: 262px;
                max-height: 139px;
                left: 500px;
            }
            h2{
                font-weight: 300;
                /* font-size: 25px; */
                color: #fff;
                font-family: 'Poppins';
                font-style: normal;
                margin-bottom:10px;
            }
            p,.span{
                font-family: 'Poppins';
                font-style: normal;
                font-size: 13px;
                color: #fff;
                text-align:center;
                font-weight: 300;
                margin-top:10px;
            }


}